@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

.search-bar {
  border: none;
  border-radius: 30px;
  background-color: #f1f1f1;
  width: 508px;
  height: 48px;
  padding: 0 25px;
  font-size: 17px;
}
.fa-solid {
  color: rgb(141, 136, 136);
  margin-right: 15px;
}
.nav-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
.carousel-item {
  background-color: #feeae9;
  border-radius: 20px;
}

.product-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  color: #1f1f1f;
}
.product-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4e4e4e;
}
.product-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 62px;
  color: #ff136f;
}
.buy-now {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-image: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border-radius: 6px;
  padding: 14px 16px;
  border: none;
}
.buy-now i {
  color: #ffffff;
  margin-left: 10px;
}
